* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1F2937;
    /* background-color: grey; */
    /* border: 1px solid white; */
}

.logo {
    font-size: 40px;
    color: #F9FAF8;
}

.left-header {
    margin-left: 200px;
    /* border: 1px solid pink; */
}

.right-header {
    margin-right: 200px;
    /* border: 1px solid pink; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

li {
    list-style: none;
    color: #F9FAF8;
    font-size: 18px;
}

.top-container {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 50px;
    height: 50vh;
    /* background-color: grey; */
}

.left-top-container {
    color: #F9FAF8;
    /* border: 1px solid pink; */
    margin-left: 160px;
    width: 30%;
    padding: 10px;
}

h1 {
    font-size: 48px;
}

#subtext {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.signup, .bottom-btn {
    background-color: #3882F6;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 24px;
    color: #F9FAF8;
    font-weight: bold;
    border-style: none;
}

.right-top-container {
    width: 30%;
    height: 25vh;
    /* border: 1px solid pink; */
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    background-image: url(SEO_og-img_1669718045428.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#vct-pic {
    width: fit-content;
    height: fit-content;
}

h2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    padding-top: 10px;
}

.middle-container {
    width: 100%;
    background-color: grey;
    height: 100%;
}

.middle-context {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* margin: 100px; */
    padding: 100px;
}

.middle-img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 10%;
    background-image: url(1KFVLR1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#caption {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.quote-container {
    width: 100%;
    height: 50vh;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 50%;
}

#quote {
    font-weight: lighter;
}

#author {
    float: right;
    font-size: 30px;
    font-style: normal;
}

.signup-container {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #3882F6;
    border-radius: 10px;
}

.left-signup-content, .right-signup-content{
    color: white;
    margin: 10px;
}

h4 {
    font-weight: bold;
    font-size: 25px;
}

#signups {
    font-size: 20px;
}

.bottom-btn {
    /* background-color: #3882F6;
    color: white; */
    border: 2px solid white;

}

footer {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.footer-content {
    color: white;
    font-size: 20px;
}



